.open-popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.open-popup-box{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.open-popup-show{ display: 'block;';}
.open-popup-hide{ display: none;}